    <div class="user-container">

    <img src='<%=user.photo%>' style="width:auto; height:10vw"/>
    
    <div class="user">
    <strong><%=user.name%></strong>
    <span>Number of posts: <b><%= user.posts_counter%></b></span>
    </div>
    </div>