
<h1>Here is the list of all Users</h1>

<section id="users">
  <% @users.each do |user| %>
  <a href='/users/<%=user.id%>'><%=render user%></a>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</section>

