
<h1>Here is the list of all Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <div>
    <img src='<%=user.photo%>' style="width:10vw; height:auto"/>
    <div>
    <strong><%=user.name%></strong>
    <span><%= user.posts_counter%></span>
    </div>
    </div>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

