<div>
<%=form_with model: current_user.comments.build, url: user_post_comments_path(@post.user, @post), html: {class: 'form-control'} do |f|%>
<%=f.text_field :text, placeholder: 'Add comment'%>
<%=f.submit "submit"%>
<%end%>
</div>