*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    padding: 2%;
}
a{
    text-decoration: none;
    color: #000;
}
.user-container, .user{    
    display: flex;
    gap: 3%;
    align-items: center;
    width:100%;
}
.user-container{
    margin-bottom: 2%;

}
.user{
    padding: 1% 0.5%;
    justify-content: space-between;
    height: 8vw;
    border: solid 1px #000;
}
.user span{
    font-size: 80%;
    align-self: end; 

}
.user strong{
    font-size: 150%;
}

